<h1>My Profile</h1>

<p>Profile Picture: <img width="50" src = <%= @user.photo_url %>></p>
<p>Name: <%= @user.name %></p>
<p>Password: <%= @user.password %></p>
<p>Current Employer: <%= @user.company %></p>
<p>Current Role: <%= @user.role %></p>
<p>Current City: <%= @user.city %></p>

